<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.CommentDao">
	<resultMap type="Comment" id="commentMap">
		<result column="comment_id" property="commentId" />
		<result column="board_id" property="boardId" />
		<result column="comment_writer" property="writer" />
		<result column="comment_content" property="content" />
		<result column="comment_reg_date" property="regDate" />
	</resultMap>
	
	<insert id="insertComment" parameterType="Comment" keyProperty="commentId" useGeneratedKeys="true">
		INSERT INTO board_comment (board_id, comment_writer, comment_content)
		VALUES (#{boardId}, #{writer}, #{content})
	</insert>
	
	<select id="selectByBoardId" parameterType="int"
		resultMap="commentMap">
		SELECT *
		FROM board_comment
		WHERE board_id = #{boardId}
	</select>
	
	<select id="selectByCommentId" parameterType="int"
		resultMap="commentMap">
		SELECT *
		FROM board_comment
		WHERE comment_id = #{commentId}
	</select>
	
	<select id="selectAll" resultMap="commentMap">
		SELECT *
		FROM board_comment
	</select> 
	
	<update id="updateComment" parameterType="Comment">
		UPDATE board_comment
		SET comment_content = #{content}
		WHERE comment_id =#{commentId}
	</update>
	
	<delete id="deleteComment" parameterType="int">
		DELETE 
		FROM board_comment 
		WHERE comment_id =#{commentId}
	</delete>
	
</mapper>